<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <img src='/static/assets/images/logo.png'/>

      <div class="control-group">
        <label class="control-label" for="select01">Pizza</label>
        <div class="controls">
          <select id="select01">
            <option>Carbonara</option>
            <option>Chicken Club</option>
            <option>Gladiator</option>
            <option>McAngelo</option>
            <option>Mediterranean</option>
            <option>Mia Dela Riva</option>
            <option>Old Fashioned Greek</option>
            <option>Roman Pesto</option>
            <option>Spartan</option>
            <option>Smoked Chicken Fontina</option>
            <option>Stromboli's BBQ Chicken</option>
            <option>Southern Bell</option>
            <option>Lombary's Fire</option>
            <option>Tuscan Sun</option>
            <option>Tijuana Chicken</option>
            <option>Ventian Veg</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="select02">Size</label>
        <div class="controls">
          <select id="select02">
            <option>Bistro ($8.49)</option>
            <option>Medium ($17.49)</option>
            <option>Large ($22.99)</option>
            <option>Gluten Free Bistro ($9.99) - 24hr notice req</option>
            <option>Gluten Free Medium ($21.44) - 24hr notice req</option>
          </select>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span12">
            <div class="row-fluid">
              <div class="span6">
                <h2>Left Half</h2>
                <img src='/static/assets/images/left_half.png'/>
                <h3>Who's in on this half?</h3>
                <table class='table table-striped table-bordered'>
                  <tr>
                    <td><input type="checkbox">&nbsp;Sandy</td>
                    <td><input type="checkbox">&nbsp;Karen</td>
                    <td><input type="checkbox">&nbsp;Deven</td>
                    <td><input type="checkbox">&nbsp;Erica</td></tr>
                </table>
                <table class='table table-striped table-bordered table-condensed'>
                  <tr><td colspan=2><strong>Sauces</strong></td></tr>
                  <tr><td>Olive oil Glaze</td><td><input type="checkbox"></td></tr>
                  <tr><td>Balsamic Glaze</td><td><input type="checkbox"></td></tr>
                  <tr><td>Red Sauce</td><td><input type="checkbox"></td></tr>
                  <tr><td>White Zesty Garlic Sauce</td><td><input type="checkbox"></td></tr>

                  <tr><td colspan=2><strong>Premium Cheeses</strong></td></tr>
                  <tr><td>Mozzarella</td><td><input type="checkbox"></td></tr>
                  <tr><td>Cheddar</td><td><input type="checkbox"></td></tr>
                  <tr><td>Provolone</td><td><input type="checkbox"></td></tr>
                  <tr><td>Fresh Parmesan</td><td><input type="checkbox"></td></tr>
                  <tr><td>Nova Scotia Feta</td><td><input type="checkbox"></td></tr>
                  <tr><td>Goat Feta (RanCher Farms)</td><td><input type="checkbox"></td></tr>
                  <tr><td>Fontina</td><td><input type="checkbox"></td></tr>
                  <tr><td>Gorgonzola</td><td><input type="checkbox"></td></tr>

                  <tr><td colspan=2><strong>Classic Ingredients</strong></td></tr>
                  <tr><td>Anchovies</td><td><input type="checkbox"></td></tr>
                  <tr><td>Banana Peppers</td><td><input type="checkbox"></td></tr>
                  <tr><td>Basil (local)</td><td><input type="checkbox"></td></tr>
                  <tr><td>Broccoli Tips</td><td><input type="checkbox"></td></tr>
                  <tr><td>Canadian Back Bacon</td><td><input type="checkbox"></td></tr>
                  <tr><td>Dried Chili Peppers</td><td><input type="checkbox"></td></tr>
                  <tr><td>Fresh Garlic</td><td><input type="checkbox"></td></tr>
                  <tr><td>Green Bell Peppers</td><td><input type="checkbox"></td></tr>
                  <tr><td>Green Olives</td><td><input type="checkbox"></td></tr>
                  <tr><td>Sweet William Sausage</td><td><input type="checkbox"></td></tr>
                  <tr><td>Jalepeno Peppers</td><td><input type="checkbox"></td></tr>
                  <tr><td>Mushrooms</td><td><input type="checkbox"></td></tr>
                  <tr><td>Pepperoni</td><td><input type="checkbox"></td></tr>
                  <tr><td>Pinapple</td><td><input type="checkbox"></td></tr>
                  <tr><td>Red Bell Peppers</td><td><input type="checkbox"></td></tr>
                  <tr><td>Diced Red Onion</td><td><input type="checkbox"></td></tr>
                  <tr><td>Genoa Salami</td><td><input type="checkbox"></td></tr>
                  <tr><td>Fresh Spinach</td><td><input type="checkbox"></td></tr>
                  <tr><td>Diced Tomato</td><td><input type="checkbox"></td></tr>

                  <tr><td colspan=2><strong>Premium Ingredients</strong></td></tr>
                  <tr><td>Smoked Bacon</td><td><input type="checkbox"></td></tr>
                  <tr><td>BBQ Chicken</td><td><input type="checkbox"></td></tr>
                  <tr><td>Chicken</td><td><input type="checkbox"></td></tr>
                  <tr><td>Marinated Artichoke Hearts</td><td><input type="checkbox"></td></tr>
                  <tr><td>Marinated Sundried Tomatoes</td><td><input type="checkbox"></td></tr>
                  <tr><td>Frank's Hot Marinated Chicken</td><td><input type="checkbox"></td></tr>
                </table>
              </div><!--/span-->
              <div class="span6">            
                <h2>Right Half</h2>
                <img src='/static/assets/images/right_half.png'/>
                <h3>Who's in on this half?</h3>
                <table class='table table-striped table-bordered'>
                  <tr>
                    <td><input type="checkbox">&nbsp;Sandy</td>
                    <td><input type="checkbox">&nbsp;Karen</td>
                    <td><input type="checkbox">&nbsp;Deven</td>
                    <td><input type="checkbox">&nbsp;Erica</td></tr>
                </table>
                <table class='table table-striped table-bordered table-condensed'>
                  <tr><td colspan=2><strong>Sauces</strong></td></tr>
                  <tr><td>Olive oil Glaze</td><td><input type="checkbox"></td></tr>
                  <tr><td>Balsamic Glaze</td><td><input type="checkbox"></td></tr>
                  <tr><td>Red Sauce</td><td><input type="checkbox"></td></tr>
                  <tr><td>White Zesty Garlic Sauce</td><td><input type="checkbox"></td></tr>

                  <tr><td colspan=2><strong>Premium Cheeses</strong></td></tr>
                  <tr><td>Mozzarella</td><td><input type="checkbox"></td></tr>
                  <tr><td>Cheddar</td><td><input type="checkbox"></td></tr>
                  <tr><td>Provolone</td><td><input type="checkbox"></td></tr>
                  <tr><td>Fresh Parmesan</td><td><input type="checkbox"></td></tr>
                  <tr><td>Nova Scotia Feta</td><td><input type="checkbox"></td></tr>
                  <tr><td>Goat Feta (RanCher Farms)</td><td><input type="checkbox"></td></tr>
                  <tr><td>Fontina</td><td><input type="checkbox"></td></tr>
                  <tr><td>Gorgonzola</td><td><input type="checkbox"></td></tr>

                  <tr><td colspan=2><strong>Classic Ingredients</strong></td></tr>
                  <tr><td>Anchovies</td><td><input type="checkbox"></td></tr>
                  <tr><td>Banana Peppers</td><td><input type="checkbox"></td></tr>
                  <tr><td>Basil (local)</td><td><input type="checkbox"></td></tr>
                  <tr><td>Broccoli Tips</td><td><input type="checkbox"></td></tr>
                  <tr><td>Canadian Back Bacon</td><td><input type="checkbox"></td></tr>
                  <tr><td>Dried Chili Peppers</td><td><input type="checkbox"></td></tr>
                  <tr><td>Fresh Garlic</td><td><input type="checkbox"></td></tr>
                  <tr><td>Green Bell Peppers</td><td><input type="checkbox"></td></tr>
                  <tr><td>Green Olives</td><td><input type="checkbox"></td></tr>
                  <tr><td>Sweet William Sausage</td><td><input type="checkbox"></td></tr>
                  <tr><td>Jalepeno Peppers</td><td><input type="checkbox"></td></tr>
                  <tr><td>Mushrooms</td><td><input type="checkbox"></td></tr>
                  <tr><td>Pepperoni</td><td><input type="checkbox"></td></tr>
                  <tr><td>Pinapple</td><td><input type="checkbox"></td></tr>
                  <tr><td>Red Bell Peppers</td><td><input type="checkbox"></td></tr>
                  <tr><td>Diced Red Onion</td><td><input type="checkbox"></td></tr>
                  <tr><td>Genoa Salami</td><td><input type="checkbox"></td></tr>
                  <tr><td>Fresh Spinach</td><td><input type="checkbox"></td></tr>
                  <tr><td>Diced Tomato</td><td><input type="checkbox"></td></tr>

                  <tr><td colspan=2><strong>Premium Ingredients</strong></td></tr>
                  <tr><td>Smoked Bacon</td><td><input type="checkbox"></td></tr>
                  <tr><td>BBQ Chicken</td><td><input type="checkbox"></td></tr>
                  <tr><td>Chicken</td><td><input type="checkbox"></td></tr>
                  <tr><td>Marinated Artichoke Hearts</td><td><input type="checkbox"></td></tr>
                  <tr><td>Marinated Sundried Tomatoes</td><td><input type="checkbox"></td></tr>
                  <tr><td>Frank's Hot Marinated Chicken</td><td><input type="checkbox"></td></tr>
                </table>
              </div><!--/span-->
            </div><!--/row-->
          </div><!--/span-->
        </div><!--/row-->




    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/assets/js/bootstrap-transition.js"></script>
    <script src="/static/assets/js/bootstrap-alert.js"></script>
    <script src="/static/assets/js/bootstrap-modal.js"></script>
    <script src="/static/assets/js/bootstrap-dropdown.js"></script>
    <script src="/static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/static/assets/js/bootstrap-tab.js"></script>
    <script src="/static/assets/js/bootstrap-tooltip.js"></script>
    <script src="/static/assets/js/bootstrap-popover.js"></script>
    <script src="/static/assets/js/bootstrap-button.js"></script>
    <script src="/static/assets/js/bootstrap-collapse.js"></script>
    <script src="/static/assets/js/bootstrap-carousel.js"></script>
    <script src="/static/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
