<!-- Dark Secret Software Inc. - Corporate site -->
<html lang="en">
    <head>                                                                  
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js">
        </script>

        <style type="text/css">
        @font-face {
            font-family: Pixel;
            src: url('/static/media/slkscr.ttf');
        }
        </style>

        <script type="text/javascript">             
            $(document).ready(function() {               
            });
       </script>                                                               
       <script type="text/javascript">

         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-24024788-1']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
       </script>
    </head>                                                                 

    <body style='background: black' >
        <div id='narrative' 
             style='position:absolute; width:651px; height:509px; background: url("/static/media/modframe.png") no-repeat;' >
            <div id='workarea' 
                 style='margin-top:50px; margin-left:50px; 
                        width:550px; height:350px; 
                        font-family:Pixel,Courier; font-size: large;'>
                <div><img id='logo' src='/static/media/dss.png'/></div>
                <div>&nbsp;</div>
<a href='mailto:sandy@darksecretsoftware.com' target='_blank'>sandy@darksecretsoftware.com</a><br/>
<a href='http://darksecretsoftware.com' target='_blank'>darksecretsoftware.com</a><br/>
<a href='http://sandywalsh.com' target='_blank'>sandywalsh.com</a><br/>
<a href='http://sandymakes.org' target='_blank'>sandymakes.org</a><br/>
<a href='https://twitter.com/TheSandyWalsh' target='_blank'>@TheSandyWalsh</a><br/>
<a href='http://www.linkedin.com/in/sandywalsh' target='_blank'>linkedin.com/in/sandywalsh</a><br/>
<a href='http://github.com/sandywalsh' target='_blank'>github.com/sandywalsh</a><br/>
            </div>
        </div>
    </body>                                                                 
</html>
